.vs/
Performance1.psess
algos.VC.db
algos.v12.suo
geoserverapp.psess
geoserverapp/
geoserverapp160720.vsp
mocklab/
recursiveMax/
soundex.psess
soundex160726(1).vsp
soundex160726(2).vsp
soundex160726.vsp
streamparser/
testdouble/
